.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.hint {
  /* Position the hint */
  position: absolute;
  left: 41px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  /* Set our own color */
  color: grey;
}