.popup-content {
  min-width: 500px;
  max-width: 650px;
}

md-card-title-text {
  color: lightyellow;
}

.card-headline-text {
  display: inline-block;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-headline-link {
  display: inline-flex;
  margin-left: 5px;
}

.md-list-item-text {
  max-width: 90%;
}

.md-list-item-text h3 {
  display: inline-block;
  max-width: 90%;
}

.float-button-link {
  display: inline-flex;
  margin-left: 5px;
}

.repo-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar {
  border-radius: 50%;
  width: 35px;
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.column {
  display: table-cell;
}