<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/libs/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/angular-material/layouts/angular-material.layout-attributes.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/angular-material/layouts/angular-material.layouts.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/options.css">

  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular-dynamic-locale/dist/tmhDynamicLocale.min.js"></script>
  <script src="/libs/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/libs/angular-animate/angular-animate.min.js"></script>
  <script src="/libs/angular-aria/angular-aria.min.js"></script>
  <script src="/libs/angular-material/angular-material.min.js"></script>
  <script src="/libs/angular-messages/angular-messages.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/gascript.js"></script>
  <title>Pull Request Checker - Options</title>
</head>

<body ng-app="pullRequestNotifier">
  <div ng-controller="OptionsCtrl" layout="column" ng-cloak>
    <md-content layout-padding>
      <form name="optionsForm" ng-submit="save(options)">
        <md-input-container class="md-icon-float md-block">
          <label>Token</label>
          <md-icon md-svg-src="/images/icons/ic_vpn_key_24px.svg"></md-icon>
          <input ng-minlength="40" md-maxlength="40" name="token" ng-model="options.token">
          <div class="hint">{{ 'tokenHint' | translate }}</div>
        </md-input-container>

        <md-content>
          <h3>{{ 'checkInterval' | translate }}</h3>
          <div layout>
            <div flex="15" layout layout-align="center center">
              <span class="md-body-1">{{ 'minutes' | translate }}</span>
            </div>
            <div flex layout layout-align="center center">
              <md-slider flex="75" min="2" max="120" ng-model="options.interval" aria-label="interval" id="interval-slider">
              </md-slider>
            </div>
            <div flex="15" layout layout-align="center center">
              <input flex type="number" ng-model="options.interval" aria-label="interval" aria-controls="interval-slider">
            </div>
          </div>
        </md-content>
        
        <md-content>
          <h2 class="md-title">{{ 'repositories' | translate }}</h2>
          <p ng-bind-html="'repositoriesNote' | translate"></p>
          <md-chips ng-model="options.repos" name="repos" placeholder="{{ 'repositoriesAdd' | translate }}">
            <md-chip-template>
              <strong>{{$chip}}</strong>
            </md-chip-template>
          </md-chips>
        </md-content>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" type="submit">{{ 'save' | translate }}</md-button>
        </section>
      </form>
  </div>
</body>

</html>