<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/libs/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/angular-material/layouts/angular-material.layouts.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/angular-material/layouts/angular-material.layout-attributes.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/popup.css">

  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular-dynamic-locale/dist/tmhDynamicLocale.min.js"></script>
  <script src="/libs/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/libs/angular-animate/angular-animate.min.js"></script>
  <script src="/libs/angular-aria/angular-aria.min.js"></script>
  <script src="/libs/angular-material/angular-material.min.js"></script>
  <script src="/libs/angular-messages/angular-messages.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/gascript.js"></script>
  <title>Pull Request Checker - Popup</title>
</head>

<body ng-app="pullRequestNotifier">
  <div ng-controller="PopupCtrl" layout="column" ng-cloak class="popup-content">
    <section ng-if="showAddRepository" layout="row" layout-align="start center">
      <md-button class="md-raised md-primary" ng-click="addRepository()">
        <md-icon md-svg-src="/images/icons/ic_add_24px.svg" aria-label="add repository" analytics-on="click" analytics-event="Add Repository" analytics-repository="{{ repositoryToAdd }}"></md-icon>
        {{ repositoryToAdd }}
      </md-button>
    </section>
    <md-card md-theme="teal" ng-if="pullRequestRepos.length === 0">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">No repository has been added yet!</span>
          <span class="md-subhead">Configure your extension at the <md-button class="md-raised md-primary" ng-click="openOptionsPage()">options</md-button> page.</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card md-theme="teal" ng-repeat="pullRequestRepo in pullRequestRepos">
      <md-card-title ng-if="pullRequestRepo.notFound || pullRequestRepo.unauthorized || pullRequestRepo.forbidden">
        <md-card-title-text>
          <span class="md-headline">{{ pullRequestRepo.fullName }}</span>
          <span class="md-subhead" ng-if="pullRequestRepo.notFound">{{ 'repositoryNotFound' | translate }}</span>
          <span class="md-subhead" ng-if="pullRequestRepo.unauthorized">{{ 'repositoryUnauthorized' | translate }}</span>
          <span class="md-subhead" ng-if="pullRequestRepo.forbidden">{{ 'repositoryForbidden' | translate }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-title ng-if="!(pullRequestRepo.notFound || pullRequestRepo.unauthorized || pullRequestRepo.forbidden)">
        <md-card-title-text>
          <div class="md-headline">
            <div class="card-headline-text">{{ pullRequestRepo.fullName }}
              <md-tooltip>
                {{ pullRequestRepo.fullName }}
              </md-tooltip>
            </div>
            <a class="card-headline-link" ng-href="{{ pullRequestRepo.link }}" target="_blank">
              <md-icon md-svg-src="/images/icons/ic_open_in_new_24px.svg"></md-icon>
            </a>
          </div>
          <span class="md-subhead" ng-if="pullRequestRepo.pullRequests.length > 0">Pull requests: {{ pullRequestRepo.pullRequests.length }}</span>
          <span class="md-subhead" ng-if="pullRequestRepo.pullRequests.length === 0">{{ 'noPullRequests' | translate }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content ng-if="pullRequestRepo.pullRequests.length > 0">
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="pullRequest in pullRequestRepo.pullRequests">
            <img class="md-avatar" ng-src="{{ pullRequest.user.avatar_url }}">
            <div class="md-list-item-text">
              <h3>#{{ pullRequest.number }}: {{ pullRequest.title }}</h3>
              <a class="float-button-link" ng-href="{{ pullRequest.html_url }}" target="_blank">
                <md-icon md-svg-src="/images/icons/ic_open_in_new_24px.svg"></md-icon>
              </a>
              <p>{{ pullRequest.created_at | date: 'medium' }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</body>

</html>